*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{

    width: 100%;
    height: 100vh;
    /*background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(background.png);*/
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
}
/*.logo{
    height: 121px;
    width: 100px;
}*/


/*.navbar{

    background-color: white;
    overflow: hidden;
}*/
.txtnav{
    text-align: center;
    top: 0%;
    font-size:xx-large;
    font-family: "Upheaval";
    font-weight: bold;
    color:black;
    -webkit-text-stroke: 1px white;
}
@font-face {
    font-family: "Upheaval";
    src: url("font/upheavtt.ttf");
}
.font{
    font-family: "Upheaval";
    color: white;
    letter-spacing: 2px;
    font-size: 3em;
}

figure a:hover img {
    filter: brightness(0.7);
}
img:hover{
    filter: brightness(0.7);
}

.imgbotoes{
    width: 50px;
    height: 50px;
}

.casa1 {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-55%, -100%);
    color: black; /* Cor do texto */
    padding: 10px 10px;
    font-family: "Upheaval";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  .casa2{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-55%, -100%);
    color: black; /* Cor do texto */
    padding: 10px 20px;
    font-family: "Upheaval";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  .casa3 {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-55%, -100%);
    color: black; /* Cor do texto */
    padding: 10px 10px;
    font-family: "Upheaval";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  .casa4 {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-55%, -100%);
    color: black;
    padding: 10px 10px;
    font-family: "Upheaval";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  .casa5 {
    position: absolute;
    top: 75%;
    left: 20%;
    transform: translate(-55%, -100%);
    color: black;
    padding: 10px 10px;
    font-family: "Upheaval";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  .casa6 {
    position: absolute;
    top: 75%;
    left: 40%;
    transform: translate(-55%, -100%);
    color: black; 
    padding: 10px 10px;
    font-family: "Upheaval";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  .casa7 {
    position: absolute;
    top: 75%;
    left: 60%;
    transform: translate(-55%, -100%);
    color: black; 
    padding: 10px 10px;
    font-family: "Upheaval";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  .casa8 {
    position: absolute;
    top: 75%;
    left: 80%;
    transform: translate(-55%, -100%);
    color: black; 
    padding: 10px 10px;
    font-family: "Upheaval";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  .casa9 {
    position: absolute;
    top: 100%;
    left: 20%;
    transform: translate(-55%, -100%);
    color: black;
    padding: 10px 10px;
    font-family: "Upheaval";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  .casa10 {
    position: absolute;
    top: 100%;
    left: 40%;
    transform: translate(-55%, -100%);
    color: black; 
    padding: 10px 10px;
    font-family: "Upheaval";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  .casa11 {
    position: absolute;
    top: 100%;
    left: 60%;
    transform: translate(-55%, -100%);
    color: black; 
    padding: 10px 10px;
    font-family: "Upheaval";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  .casa12 {
    position: absolute;
    top: 100%;
    left: 80%;
    transform: translate(-55%, -100%);
    color: black; 
    padding: 10px 10px;
    font-family: "Upheaval";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
 