@font-face {
    font-family: "Upheaval";
    src: url("font/upheavtt.ttf");
  }
  
  body {
    background: url("img/bg_1.png");
  }
  
  .box-2 {
    position: absolute;
    transform: translate(-10%, -140%);
    width: 50%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 38vh;
    padding: 20vh;
    z-index: -1; /* Alterado para um valor menor */
    border-radius: 10px;
  }
  
  div {
    margin-top: 15vh;
    height: 80vh;
    justify-content: center;
    text-align: center;
    gap: 50px;
  }
  
  .font {
    font-family: "Upheaval";
    color: white;
    letter-spacing: 2px;
    font-size: 3em;
  }
  
  .container img {
    margin-top: 15vh;
    width: 6em;
    image-rendering: pixelated;
    z-index: 1; /* Aumentado para um valor maior */
  }
  
  figure a:hover img {
    filter: brightness(0.7);
  }
  
  img:hover {
    filter: brightness(0.7);
  }
  
  .img-i2-1 {
    margin-top: 10em;
    width: 15em;
    margin-right: 10px;
    image-rendering: pixelated;
    z-index: 2; /* Aumentado para um valor maior */
  }
  
  .img-i2-2 {
    width: 15em;
    image-rendering: pixelated;
    z-index: 2; /* Aumentado para um valor maior */
  }
  
  .fig1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -100%);
    color: black;
    padding: 10px 10px;
    font-family: "Upheaval";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    z-index: 2; /* Aumentado para um valor maior */
  }
  
  .fig2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -60%);
    color: black;
    padding: 10px 20px;
    font-family: "Upheaval";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    z-index: 2; /* Aumentado para um valor maior */
  }
  
  .sla {
    transform: translate(-0.2%, 0%);
    z-index: 2; /* Aumentado para um valor maior */
  }
